@page
@model PersonalTrainerProject.Pages.Clienti.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1 style="font-family:'Trebuchet MS';color:#6699ff">Adaugă un client nou</h1>

<h4 style="font-family:'Trebuchet MS';color:#9494b8">Client</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" style="font-family:'Trebuchet MS';color:#99bbff">
                <label asp-for="Client.Nume" class="control-label"></label>
                <input asp-for="Client.Nume" class="form-control" />
                <span asp-validation-for="Client.Nume" class="text-danger"></span>
            </div>
            <div class="form-group" style="font-family:'Trebuchet MS';color:#99bbff">
                <label asp-for="Client.Prenume" class="control-label"></label>
                <input asp-for="Client.Prenume" class="form-control" />
                <span asp-validation-for="Client.Prenume" class="text-danger"></span>
            </div>
            <div class="form-group" style="font-family:'Trebuchet MS';color:#99bbff">
                <label asp-for="Client.Varsta" class="control-label"></label>
                <input asp-for="Client.Varsta" class="form-control" />
                <span asp-validation-for="Client.Varsta" class="text-danger"></span>
            </div>
            <div class="form-group" style="font-family:'Trebuchet MS';color:#99bbff">
                <label asp-for="Client.Greutate" class="control-label"></label>
                <input asp-for="Client.Greutate" class="form-control" />
                <span asp-validation-for="Client.Greutate" class="text-danger"></span>
            </div>
            <div class="form-group" style="font-family:'Trebuchet MS';color:#99bbff">
                <label asp-for="Client.Email" class="control-label"></label>
                <input asp-for="Client.Email" class="form-control" />
                <span asp-validation-for="Client.Email" class="text-danger"></span>
            </div>
            <div class="form-group" style="font-family:'Trebuchet MS';color:#99bbff">
                <label asp-for="Client.ProdusID" class="control-label"></label>
                <select asp-for="Client.ProdusID" class ="form-control" asp-items="ViewBag.ProdusID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Adaugă" class="btn btn-primary" style="font-family:'Trebuchet MS'"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Înapoi</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
